@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.wine-card-list {
  display: flex;
  flex-direction: column;

  &__preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__confirm-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include mobile {
      min-height: 300px;
    }
    @include mobile_s {
      min-height: 150px;
    }
  }

  &__confirm-text {
    @include show-font(
      $weight: 500, $size: 16px, $line-heigth: 20px, $color: $color-fonts-black
    );
  }

  &__container {
    padding: 40px 10px 0;
    grid-area: card-list;
    display: grid;
    gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  &__add-button {
    background-color: $color-background;
    color: $color-fonts;
    margin-top: 40px;
    width: 100%;
    max-width: 200px;
    align-self: center;

    @include show-font(
      $weight: 500, $size: 16px, $line-heigth: 20px, $color: $color-fonts
    );

    &:hover {
      background-color: $color-background-white;
      color: $color-fonts-black;
    }
  }
}
