@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 80px;

  @include mobile {
    padding-inline: 20px;
  }

  &__logo {
    width: 160px;
    height: 100px;

    @include mobile {
      width: 80px;
      height: 80px;
    }
  }

  &__sapn {
    @include show-font(
      $size: 30px,
      $weight: 500,
      $line-heigth: 21px,
      $color: $color-fonts
    )
  }
}

