@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px 20px;
  transition: background-color .5s ease;

  &_active {
    background-color: $main-color-white;
    border-bottom: $main-color-black;
  }

  @include mobile {
    padding-inline: 20px;
  }

  &__sapn {
    @include show-font(
      $size: 30px,
      $weight: 500,
      $line-heigth: 21px,
      $color: $color-fonts
    )
  }

  &__burger {
    top: 40px;
    right: 18px;
  }
}

