@import '../../index.scss';

.form {
  width: 100%;
  max-width: 540px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__fieldest {
    display: flex;
    justify-content: space-between;
    border: none;
    gap: 20px;
    // margin-bottom: 10px;
    @include mobile {
      justify-content:center;
      flex-direction: column;
    }

  }

  &__column {
    width: 100%;
    @include mobile {
      display: flex;
      flex-direction: column;
      // max-width: 300px
    }
  }

  &__textarea {
    @extend %input-value;
    margin-top: 20px;
    max-width: 540px;
    min-height: 60px;
    margin-bottom: 30px;
  
    @include show-font(
      $family: 'Montserrat',
      $weight: 500,
      $size: 13px,
      $line-heigth: 19.5px,
      $color: $color-fonts
    );

    @include mobile {
      align-self: center;
      width: 95%;
    }
  }

  &__ratingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  &__spanRating {
    @include show-font(
      $family: 'Montserrat',
      $color: $color-fonts,
      $size: 20px,
      $line-heigth: 54px,
      $weight: 500
    )
  }
}

// .form-component__input:focus {
//   outline: none;
// }

// .form-component__input::placeholder {
//   color: $color-fonts;
// }

// REACT-SELECT
.custom-select{
  // сам контейнер
  &__control {
    border-style: none !important;
    background-color: transparent !important;
    // max-width: 300px !important;
    box-shadow:  none;

    &__value-container{
      // color: $color-fonts !important;
    }
    &:hover {
      border-color: $color-border-wrapper !important;
    }
    &:focus {
      box-shadow: 0 0 0 1px $color-border-wrapper !important;
    }
    &--menu-is-open {
      box-shadow: 0 0 0 1px $color-border-wrapper !important;
      border-color: $color-border-wrapper !important;
    }
    &--is-focused {
      box-shadow: 0 0 0 1px $color-border-wrapper !important;
    }
  }
  &__placeholder {
    // color: #d9d6d667 !important;
    @include show-font(
      $family: 'Montserrat' !important,
      $weight: 500 !important,
      $size: 13px !important,
      $line-heigth: 19.5px !important,
      $color: $color-fonts-opacity !important
    );
    order: 2;
  }

  // место инпута
  &__value-container {
    // padding: 0 !important;
    cursor: text !important;
  }

  &__single-value {
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    color: white !important;
    order: 1;
  }

  &__input-container {
    @include show-font(
      $family: 'Montserrat' !important,
      $weight: 500 !important,
      $size: 13px !important,
      $line-heigth: 19.5px !important,
      $color: $color-fonts !important
    );
    @extend %input-value
  }

  &__indicators {
    cursor: pointer  !important;
  }
  // значок выплывающего меню
  &__indicator {
    color: white !important;
    &:hover {
      color: #5c5959 !important;
    }
  }
  
  &__menu {
    background-color: $color-border-wrapper;
    @include show-font(
      $family: 'Montserrat' !important,
      $weight: 500 !important,
      $size: 13px !important,
      $line-heigth: 19.5px !important,
      $color: $color-fonts-black !important
    );
  }
  &__option {
    cursor: pointer !important;
    background-color: $color-background-milk !important;

    &--is-focused {
      background-color: lighten($color: #d9d6d6, $amount: 8%) !important;
      // background-color: black !important;
    }
    &--is-selected {
      color: $color-font-olive !important;
    }
  }
  
}