@use '../../../styles/variables' as *;
.burger-menu {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 8px;

  &__span {
    width: 20px;
    height: 1px;
    font-weight: 500;
    background-color: $main-color-black;
    border: 1px solid $main-color-black;
    transition: all .5s ease-in-out;

    &_type_light {
      background-color: $main-color-white;
      border: 1px solid $main-color-white;
    }
  }

  &__span::before, &__span::after {
    content: '';
    width: 20px;
    position: absolute;
    height: 1px;
    background-color: $main-color-black;
    border: 1px solid $main-color-black;
    transition: all .5s ease-in-out;
  }

  &__span_type_light::before, &__span_type_light::after {
    background-color: $main-color-white;
    border: 1px solid $main-color-white;
  }

  &__span::before {
    transform: translate(-1px, -10px);
  }

  &__span::after {
    transform: translate(-1px, 8px);
  }

}

/* ANIMATION */
.burger-menu_open .burger-menu__span {
  transform: translateX(50px);
  background-color: $main-color-black;
  box-shadow: none;
}

.burger-menu_open .burger-menu__span_type_light {
  background-color: $main-color-white;
}

.burger-menu_open .burger-menu__span::before {
  transform: rotate(45deg) translate(-35px, 35px);
  // transform: rotate(45deg) translate(35px, -35px);
}

.burger-menu_open .burger-menu__span::after {
  transform: rotate(-45deg) translate(-35px, -35px);
  // transform: rotate(-45deg) translate(35px, 35px);
}
