@import '../../../index.scss';

.input-add-wine {
  @extend %input-value;
  margin-top: 10px;

  &_size_b {
    margin-top: 30px;
  }

  @include show-font(
    $family: 'Montserrat',
    $weight: 500,
    $size: 13px,
    $line-heigth: 19.5px,
    $color: $color-fonts
  );
  
  &::placeholder {
    @include show-font(
    $family: 'Montserrat',
    $weight: 500,
    $size: 13px,
    $line-heigth: 19.5px,
    $color: $color-fonts-opacity
  );
  }
}