@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.button-logout {
  display: flex;

  max-width: 100%;
  border: none;
  background-color: inherit;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  @include show-font(
    $size: 14px,
    $weight: 500,
    $line-heigth: 21px,
    $color: $color-font-olive
  );

  &:hover {
    opacity: .6;
    -webkit-text-shadow: 2px 2px 2px #00000021;
    -moz-text-shadow: 2px 2px 2px #00000028;
    text-shadow: 2px 2px 2px #00000029;
  }
}
