@mixin show-font(
  $style: normal,
  $weight,
  $size,
  $line-heigth,
  $color: $color-fonts-black
) {
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
  line-height: $line-heigth;
  color: $color;
};

@mixin mobile() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mobile_s() {
  @media screen and (max-width: 414px) {
    @content;
  }
}
