@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.button-submit-form {
  border: none;
  padding: 12px 30px;
  background-color: $color-background;
  color: $color-fonts;
  transition: all .4s ease;
  @include show-font(
    $weight: 300,
    $size: 16px,
    $line-heigth: 1.1,
    $color: $color-fonts
  );

  &:hover {
    opacity: .6;
  }

  &_disabled {
    opacity: .2;
    cursor: not-allowed;

    &:hover {
      background-color: $color-background;
    }
  }
}
