@import '../../globals.scss';

.promo {
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 100vh;

  &__spanText {
    @include show-font(
      $size: 22px,
      $weight: 400,
      $line-heigth: 21px,
      $color: $color-fonts
    )
  }

  &__title {
    margin-top: 40vh;
    @include show-font(
      $size: 3em,
      $weight: 700,
      $line-heigth: 60px,
      $color: $color-fonts
    );

    @include mobile {
      font-size: 2em;
      line-height: 30px;
    }
  }

  &__span-line {
    display: inline-block;
    margin-top: 30px;
    width: 30vw;
    border-bottom: 1px solid white;
  }
}

.promo__backgroundVideo {
  position: absolute;
  z-index: -1;
}