@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.promo {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 84px);

  &__title {
    margin: 0 !important;
    padding-top: 33vh;
    align-self: center;
    opacity: 0;

    @include show-font(
      $size: 3em,
      $weight: 700,
      $line-heigth: 60px,
      $color: $color-fonts
      );

      @include mobile {
        font-size: 2em;
        line-height: 30px;
      }
    }

  &__span-line {
    display: inline-block;
    align-self: center;
    margin: 0;
    width: 40vw;
    border-bottom: 1px solid white;
    opacity: 0;

    @include mobile {
      width: 58vw;
    }
  }
}

.promo__backgroundVideo {
  position: absolute;
  z-index: -1;
}
