@import '../../../app/globals.scss';

.input-from {
  margin-top: 10px;

  &_size_b {
    margin-top: 30px;
  }

  &__label {
    opacity: 0;
    transition: opacity .1s ease-out;

    &_active {
      opacity: .5;
    }

    &_sign {
      @include show-font(
          $family: $font-family-type-2,
          $weight: 500,
          $size: 13px,
          $line-heigth: 19.5px,
          $color:  $color-fonts-black
        );
    }

    &_add-wine {
      @include show-font(
          $family: $font-family-type-2,
          $weight: 500,
          $size: 1rem,
          $line-heigth: 19.5px,
          $color:  $color-fonts
        );
    }

  }
  &__input {
    @extend %input-value;
    background-color: inherit;

    &_sign {
      border-bottom: 1px solid $color-fonts-black;
      @include show-font(
        $family: $font-family-type-2,
        $weight: 500,
        $size: 16px,
        $line-heigth: 19.5px,
        $color: $color-fonts-black
      );

      &::placeholder {
        @include show-font(
          $family: $font-family-type-2,
          $weight: 500,
          $size: 13px,
          $line-heigth: 19.5px,
          $color: $color-fonts-black-opacity
        );
      }
    }

    &_add-wine {
      border-bottom: 1px solid $color-fonts;
      @include show-font(
        $family: $font-family-type-2,
        $weight: 500,
        $size: 13px,
        $line-heigth: 19.5px,
        $color: $color-fonts
      );

      &::placeholder {
        @include show-font(
          $family: $font-family-type-2,
          $weight: 500,
          $size: 13px,
          $line-heigth: 19.5px,
          $color: $color-fonts
        );
      }
    }
  }


  

  @include mobile {
    align-self: center;
    width: 95%;
    // margin-inline: 10px;
    // max-width: 100;
  }
}