@mixin uploadFonts($fileTypeOne,$fileTypeTwo, $family, $formatTypeOne, $formatTypeTwo, $weight, $style) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url(#{$fileTypeTwo}) format($formatTypeTwo),
    url(#{$fileTypeOne}) format($formatTypeOne);
  }
}

// "Playfair Display" normal
@include uploadFonts(
  $fileTypeOne: './PlayfairDisplay-Regular.woff1',
  $fileTypeTwo: './PlayfairDisplay-Regular.woff2',
  $formatTypeOne, 'woff',
  $formatTypeTwo: 'woff2',
  $family: 'Playfair Display',
  $weight: 1,
  $style: normal
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-Regular.woff2',
  $fileTypeOne: './PlayfairDisplay-Regular.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 400,
  $style: normal
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-Medium.woff2',
  $fileTypeOne: './PlayfairDisplay-Medium.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 500,
  $style: normal
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-SemiBold.woff2',
  $fileTypeOne: './PlayfairDisplay-SemiBold.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 600,
  $style: normal
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-Bold.woff2',
  $fileTypeOne: './PlayfairDisplay-Bold.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 700,
  $style: normal
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-ExtraBold.woff2',
  $fileTypeOne: './PlayfairDisplay-ExtraBold.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 800,
  $style: normal
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-Black.woff2',
  $fileTypeOne: './PlayfairDisplay-Black.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 900,
  $style: normal
);

// "Playfair Display" Italic
@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-Italic.woff2',
  $fileTypeOne: './PlayfairDisplay-Italic.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 1,
  $style: italic
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-Italic.woff2',
  $fileTypeOne: './PlayfairDisplay-Italic.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 400,
  $style: italic
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-MediumItalic.woff2',
  $fileTypeOne: './PlayfairDisplay-MediumItalic.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 500,
  $style: italic
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-SemiBoldItalic.woff2',
  $fileTypeOne: './PlayfairDisplay-SemiBoldItalic.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 600,
  $style: italic
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-BoldItalic.woff2',
  $fileTypeOne: './PlayfairDisplay-BoldItalic.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 700,
  $style: italic
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-ExtraBoldItalic.woff2',
  $fileTypeOne: './PlayfairDisplay-ExtraBoldItalic.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 800,
  $style: italic
);

@include uploadFonts(
  $fileTypeTwo: './PlayfairDisplay-BlackItalic.woff2',
  $fileTypeOne: './PlayfairDisplay-BlackItalic.woff',
  $formatTypeTwo: 'woff2',
  $formatTypeOne, 'woff',
  $family: 'Playfair Display',
  $weight: 900,
  $style: italic
);
