@import '../../../index.scss';

.buttonSubmitForm {
  border: none;
  border: 1px solid $color-fonts;
  width: 100%;
  min-height: 50px;
  background-color: $color-background;
  color: $color-fonts;
  cursor: pointer;
  @include show-font(
    $family: 'Montserrat',
    $weight: 500,
    $size: 16px,
    $line-heigth: 19.5px,
    $color: $color-fonts
  )
}