@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.aboutWine {
  display: flex;
  justify-content: center;
  padding: 40px 0 80px;
  margin: 0 auto;
  max-width: 1140px;
  background-color: $color-background-white;
  position: relative;

  &__button-back {
    position: absolute;
    border: none;
    background: inherit;
    top: 40px;
    right: 10px;
    height: 20px;
    z-index: 2;

    &:hover {
      opacity: .6;
    }
  }

  &__imgContainer {
    width: 471px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__image {
    width: 100%;
    max-width: 450px;
    height: calc(88vh - 170px);
    object-fit: contain;
  }

  &__button-confirm {
    border: none;
    background-color: inherit;
    position: absolute;
    top: 53px;
    right: 20px;
    transition: transform .5s ease;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__info-wrapper {
    border-left: 1px solid $color-fonts-black-opacity;
    max-width: 500px;
    padding: 20px 40px 60px;
  }

  &__title {
    margin-top: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    @include show-font(
      $color: $color-fonts-black,
      $size: 35px,
      $line-heigth: 150%,
      $weight: 500,
  );
  }

  &__subtitle {
    font-size: 15px;
    letter-spacing: 0.14rem;
    font-weight: 400;
    margin-bottom:34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    @include show-font(
      $color: $color-fonts-black,
      $size: 15px,
      $line-heigth: 150%,
      $weight: 400,
  );
  }

  &__reviwe-title {
    font-size: 35px;
    letter-spacing: 0.14rem;
    line-height: 1.3;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
  }

  &__review-owner {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.14rem;
    line-height: 1.3;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    margin-top: 15px;
  }

  &__rewiew {
    text-align: justify;
    font-size: 12px;
    letter-spacing: 0.14rem;
    line-height: 1.3;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 15px;
  }
}

.details {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  margin-top: 40px;

  &__wrapper {
    display: flex;
    width: 100%;
    gap: 145px;
    margin-bottom: 10px;
  }

  &__about {
    display: inline-block;
    width: 156px;
    @include show-font($weight: 400, $size: 13px, $line-heigth: 150%, $color: $color-fonts-black);
  }

  &__value {
    width: 100%;
    @include show-font($weight: 500, $size: 14px, $line-heigth: 150%, $color: $color-fonts-black);
  }

  &__button-delete {
    margin-top: 40px;
  }

  &__span {
    margin-top: 20px;
    display: inline-block;
    @include show-font($weight: 500, $size: 15px, $line-heigth: 150%, $color: $color-fonts-black);
  }

  &__notification {
    display: flex;
    gap: 20px;
  }
}
