.button-like {
  background-color: inherit;
  background-position: center;
  width: 29px;
  height: 25px;
  border: none;
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 0;
  transition: transform .5s ease-in-out;

  &:hover {
    transform: scale(1.1,1.1);
  }
}
