@import '../../globals.scss';

.navigation {
  display: flex;
  gap: 20px;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
  
    @include mobile {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    padding-bottom: 4px;
     letter-spacing: 1px;
    @include show-font(
      $size: 14px,
      $weight: 500,
      $line-heigth: 30px,
      $color: $color-fonts
    );

    &:hover {
      opacity: .7;
    }

    &_active {
      border-bottom: 1px solid $main-color-white;
    }
  }
}