body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a,
fieldset,
button {
  @extend %indents-reset;
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, 'Playfair Display', 'Roboto', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-background;
  box-sizing: border-box;
}