@mixin show-font(
  $family: 'Playfair Display',
  $weight,
  $size,
  $line-heigth,
  $color
) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-heigth;
  color: $color;
};

@mixin mobile() {
  @media screen and (max-width: 768px) {
    @content;
  }
}