@import '../../index.scss';

.starRating {

}

.starRating__label {

  // justify-content: center;
  // flex-direction: row;
  // gap: 10px;
}

.starRating__input {
  display: none;
}

.starRating__img {
  width: 30px;
  cursor: pointer;
  padding-right: 10px;
  // &:nth-last-child(2) {
  //   padding-right: 0;
  // }
}

