@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.account {
  background-color: $color-background-milk;
  padding: 20px 30px 90px;
  box-sizing: border-box;

  &__wrapper {
    max-width: 1140px;
    gap: 25px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 260px minmax(430px, 830px);
    grid-template-areas:
      "nav-bar info"
      "list list";

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  @include mobile {
    padding-inline: 20px;
    padding-top: 100px;
  }

  @media screen and (max-width: 414px) {
    padding-inline: 0;
  }
}
