@import '../globals.scss';

.account {
  background-color: $color-background-milk;
  width: 100%;
  height: 600px;

  &__nav {
    background-color: $color-background-white;
    max-width: 260px;
    padding: 20px 40px 40px;
  }

  &__list {
    list-style: none;
    
  }
  
  &__link {
    display: block;
    text-decoration: none;
    padding: 14px 0 8px;
    box-sizing: border-box;
    border-bottom: 1px solid $main-color-black-opacity;
    @include show-font(
      $family: $font-family-type-Montserrat,
      $weight: null,
      $size: 14px,
      $line-heigth: 1,
      $color: $color-fonts-black
    );

    &_active {
      border-bottom: 1px solid $main-color-olive;
      color: $color-background-olive;
    }

  }
}