.root {
  &__wrapper {
    width: 100%;
    height: 100vh;
    z-index: -10;
    box-sizing: border-box;
  }
  &__video {
    top: -1px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
  }
}
