@import '../../index.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 80px;
}

.header__logo {
  width: 160px;
  height: 100px;
}

.header__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.header__sapn {
  @include show-font(
    $family: 'Playfair Display',
    $size: 30px,
    $weight: 500,
    $line-heigth: 21px,
    $color: $color-fonts
  )
}

.header__link {
  text-decoration: none;
  @include show-font(
    $family: 'Montserrat',
    $size: 14px,
    $weight: 700,
    $line-heigth: 21px,
    $color: $color-fonts
  )
}