@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.login {
  background-color: $color-background-milk;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 20px 80px;

  &__wrapper {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    border: 2px solid #28282835;
    padding: 20px 40px;
    margin-top: 40px;

    @media screen and (max-width: 414px) {
      padding: 10px 20px;
      margin-top: 20px;
      border:0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }

  &__title {
    text-align: center;
    @include show-font(
      $color: $color-fonts-black,
      $size: 1.1rem,
      $line-heigth: 54px,
      $weight: 400
    );
  }

  @media screen and (max-width: 414px) {
    padding: 10px 20px;
  }
}
