@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.wine-library {
  padding: 140px 0 100px ;
  background-color: $color-background-milk;
  min-height: 300px;


  &__wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px min-content;
    column-gap: 20px;
    grid-template-areas:
    "div sort"
    "side-bar card-list";

    @media screen and (max-width: 768px) {
      gap: 0;
      display: flex;
      flex-direction: column;
      padding-inline: 10px;
    }
  }

  &__block {
    grid-area: div;

    @media screen and (max-width: 768px) {
      // grid-area: none;
      display: none;
    }
  }

  &__filter-headers {
    grid-area: sort;
    border-bottom: 1px solid $color-background;

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  //INPUT SEARCH
  &__search {
    width: 100%;
  }

  &__search-input {
    box-sizing: border-box;

    border: none;
    width: 100%;
    height: 48px;
    background-color: inherit;
    border-top: 1px solid $main-color-black-opacity;
    border-right: 0;
    border-bottom: 1px solid $main-color-black-opacity;
    border-left: 0;
    transition: all .6s ease;
    background-image: url('../../../public/images/icon-search.svg');
    background-repeat: no-repeat;
    background-size: 45px 45px;
    padding-inline: 60px 30px;

    &:focus {
      outline: none;
      border: 1px solid $main-color-black;
      // border-right: 1px solid $main-color-black;
      // box-shadow: 2px 1px 1px 1px $color-background-olive;
      -webkit-box-shadow: 0px 26px 30px -19px rgba(34, 60, 80,0.78);
      -moz-box-shadow: 0px 26px 30px -19px rgba(34, 60, 80,0.78);
      box-shadow: 0px 26px 30px -19px rgba(34, 60, 80,0.78);
    }
  }

  // SIDEBAR

  &__side-bar {
    grid-area: side-bar;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__type-name {
    display: inline-block;
    margin-bottom: 20px;
    @include show-font(
      $color: $color-fonts-black,
      $size: 16px,
      $line-heigth: 20px,
      $weight: 500,
    )
  }

  &__type-block {
    padding: 23px 10px;
    border-top: 1px solid $main-color-black;
  }

  &__type-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
