@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.button {
  border: none;
  background-color: $color-background-white;
  border: 1px solid $color-fonts-black;
  padding: 12px 30px;
  transition: all 0.5s ease;

  @include show-font(
      $color: $color-fonts-black,
      $size: 16px,
      $line-heigth: 1.1,
      $weight: 300,
  );

  &:hover {
    background-color: $main-color-black;
    color: $color-fonts;
  }
}


