@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.add-wine {
  background-color: $color-background;
  width: 100%;
  padding: 190px 0 100px;

  @include mobile {
    padding-top: 230px;
    padding-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 2px solid $color-border-wrapper;
    margin: 0 auto;
    max-width: 1110px;
    box-sizing: border-box;
    padding-bottom: 80px;

    @media screen and (max-width: 1190px) {
      max-width: 868px;
    }
    @media screen and (max-width: 946px) {
      border: 0;
    }

    @include mobile{
      padding-inline: 20px;
      border: none;
      padding-bottom: 30px;
    }

  }
  &__img-grapes {
    background-color: $color-background;
    position: absolute;
    width: 260px;
    height: 260px;
    top: -30px;
    left: -28px;

    @media screen and (max-width: 1190px) {
      width: 190px;
      height: 190px;
    }

    @media screen and (max-width: 946px) {
      top: -190px;
      left: 50%;
      transform: translateX(-50%);
      align-self: center;
    }
  }

  &__img-barrel {
    background-color: $color-background;
    position: absolute;
    width: 260px;
    height: 200px;
    top: -30px;
    right: -28px;

    @media screen and (max-width: 1190px) {
      width: 190px;
      height: 190px;
    }

    @media screen and (max-width: 946px) {
      display: none;
    }
  }

  &__title {
    position: absolute;
    text-align: center;
    top: -30px;
    left: 50%;
    min-width: 433px;
    transform: translateX(-50%);
    background-color: $color-background;
    margin: 0;

    @include show-font(
      $color: $color-fonts,
      $size: 36px,
      $line-heigth: 54px,
      $weight: 500
    );

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      background: $color-fonts;
      bottom: -30px;
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
    };

    @include mobile {
      font-size: 25px;
      line-height: 30px;
      min-width: 340px;
      top: 10px;

      &::after {
        content: none;
      }
    }
  }

  &__subtitle {
    max-width: 539px;
    margin: 105px 0 81px;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    @include show-font(
      $color: $color-fonts,
      $size: 16px,
      $line-heigth: 24px,
      $weight: 400
    );

    @include mobile {
      margin-top: 65px;
      margin-bottom: 50px;
    }
  }

}
