// background-color
$color-background: #282828;
$color-background-olive: #998431;
$color-background-milk: #E6E3C4;
$color-background-white: #fff;

// color
$color-fonts: #fff;
$color-fonts-opacity: #fff;
$color-fonts-black: #282828;
$color-border-wrapper: #C4C4C4;
$color-font-olive: #998431;

// fonts
$font-family-type-Playfair: 'Playfair Display';
$font-family-type-Montserrat: 'Montserrat';
$color-fonts-black-opacity: #282828b0;

%indents-reset {
  margin: 0;
  padding: 0;
}

%input-value {
  border: none;
  box-sizing: border-box;
  // min-width: 255px;
  width: 100%;
  height: 30px;
  // background-color: $color-background;
  // border-bottom: 1px solid $color-fonts;

  &:first-child {
    margin-top: 0;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-fonts;
  }
}